html {
    background: #fff;
    
   
  }
  html[data-theme='darkside'] {
    background: black;
  }
  html[data-theme='darkside'] h1 {
    color: #fff;
  }
  html[data-theme='darkside'] h2 {
    color: #fff;
  }
  html[data-theme='darkside'] text {
    color: #fff;
  }
  html[data-theme='darkside'] p {
    color: #fff;
  }

  
  h1, p, h2, h3, text {
    font-weight: 300;
    color: black;
  }

  .tab-block {
    width: 650px;
    height: 290px;
    margin: 50px auto;
  }
  .tab-block .tab-mnu {
    display: block;
    list-style: none;
  }
  .tab-block .tab-mnu:after {
    content: '';
    display: table;
    clear: both;
  }
  .tab-block .tab-mnu li {
    box-sizing: border-box;
    float: left;
    background-color: #b2bbc0;
    color: white;
    width: 130px;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 13px;
    cursor: pointer;
  }
  .tab-block .tab-mnu li:not(:last-child) {
    border-right: 1px solid #4c607c;
  }
  .tab-block .tab-mnu li:hover:not(.active) {
    background-color: #c0c7cb;
  }
  .tab-block .tab-mnu .active {
    background-color: #fff;
    color: #596165;
    border-bottom: 1px solid #eaecec;
    cursor: default;
  }
  .tab-block .tab-cont {
    box-sizing: border-box;
    border-top: 1px solid white;
    background-color: white;
    color: #292d2f;
  }
  .tab-block .tab-cont .tab-pane {
    padding: 20px 25px;
  }
  
  /* switchs section */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /*slider section */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider {
    border-radius: 34px;
  }
  
  .slider:before {
    border-radius: 50%;
  }


